.main-contact-container{
    margin-bottom: 250px;
}
.contact-header{
    /* margin-top: 60px; */
    height: 120px;
    background-color: #192a56;
    font-family: 'Open Sans', Arial, sans-serif;
}
.contact-header p{
    color : #fff;
    font-size: 20px;
    display: inline-block;
    margin-top: 45px;
    font-weight: 300;
}
.contact-content{
    display: flex;
    background-color: #fff;
    height: 600px;
    font-family: 'Open Sans', Arial, sans-serif;
}
.contact-content-1{
    padding: 20px;
    flex: 2;
}
.contact-content-1 p{
    font-size: 16px;
    font-weight: 700
}
.contact-form label{
    display: block;
    font-size: 14px;
    margin-top: 20px;
}
.contact-form textarea{
    resize: none;
    overflow: auto;
}
.contact-form input, .contact-form textarea{
    display: block;
    width: 500px;
    border: none;
    outline : none;
    border: 2px solid #ECECEC;
    background: #f4f4f4;
    padding-left: 15px;
    padding-right: 8px;
    padding-top : 3px;
    padding-bottom : 3px; 
}
.contact-form input:focus, .contact-form textarea:focus{
    background-color: #fff;
}
.contact-form button{
    margin-top: 30px;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 8px;
    background-color: #192a56;
    color: #fff;

}
.contact-content-2{
    flex: 1;
    padding: 20px;
}

.contact-content-2 .address{
    font-size: 16px;
    font-weight: 700;
    margin-top: 150px;
}
.contact-content-2 .address .info{
    font-size: 14px;
    font-weight: 500
}

@media (max-width: 1000px){
    .contact-header p{
        font-size: 16px;
        margin-top: 35px;
    }
    .contact-header{
        height: 90px;
    }
    .contact-content-1{
        margin-left: 80px;
    }
    .contact-content-2{
        display: none;
    }
}

@media (max-width: 766px){
    .contact-header p{
        font-size: 16px;
        margin-top: 35px;
    }
    .contact-header{
        height: 90px;
    }
    .contact-content-1{
        margin: 0 auto;
    }
    .contact-content-2{
        display: none;
    }
}

@media (max-width: 576px){
    .contact-form input, .contact-form textarea{
        width: 430px;
    } 
}
@media (max-width: 476px){
    .contact-form input, .contact-form textarea{
        width: 330px;
    } 
}