.ps-header{
    /* margin-top: 60px; */
    height: 120px;
    background-color: #192a56;
    font-family: 'Open Sans', Arial, sans-serif;
}
.ps-header p{
    color : #fff;
    font-size: 20px;
    display: inline-block;
    margin-top: 45px;
    font-weight: 300;
}
.ps-content{
    background-color: #fff;
    height: 600px;
}

@media (max-width: 766px){
    .ps-header p{
        font-size: 16px;
        margin-top: 35px;
    }
    .ps-header{
        height: 90px;
    }   
}